doctype html
html(ng-app="app")
  head
    title Angular Image 404 directive example
    link(type="text/css", rel="stylesheet", href="#{bundleFileName.css}")
  body
    a(href="https://github.com/stiekel/angular-image-404")
      img(style="position: absolute; top: 0; right: 0; border: 0;", src="https://camo.githubusercontent.com/e7bbb0521b397edbd5fe43e7f760759336b5e05f/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677265656e5f3030373230302e706e67", alt="Fork me on GitHub", data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png")
    .container(ng-controller="TestController")
      h1 Angular Image 404 directive

      p If the
        code src
        | of 
        code img
        | element can get the right image, You can use 
        code angular-image-404
        | directive to show the fallback image.

      h3 basic usage
      pre &lt;img src="./notFound.jpg" image-404="./fallback.jpg" width=200 height=120&gt;
      p if the 
        code image-404
        | is empty, directive will get placeholder image from 
        a(href="http://dummyimage.com") dummyimage.com
        | , and 
        code fb-bgcolor
        | can set the background color of the default image, 
        code fb-color
        | set the color, 
        code fb-text
        | set the text on the image, like:
        pre &lt;img src="./notFound.jpg" image-404 fb-bgcolor="#C0392B" fb-color="#C5EFF7" fb-text="Not Found" max-width=200 height=120&gt;

      img(src="http://abc/notfound.jpg", image-404, fb-bgcolor="#C0392B", fb-color="#C5EFF7", max-width=200, height=120)


    script(src="#{bundleFileName.js}")